body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#fbck {
    /* border: 0.2rem; */
    border-color: rgba(234, 142, 142, 0.181);
    border-radius: 10px;
    border-style: solid;
    margin: 200px 500px;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
    padding-right: 10rem;
    background-color: rgb(255, 255, 255);
    
}

h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(126, 44, 44);
    /* font-size: large; */
    font-style: normal;
    font-size: 1.2rem;
}

#mail {
    padding-top: 0.9rem;
    padding-right: 5rem;
    padding-left: 5rem;
    text-align: center;
    padding-bottom: 0.9rem;
    background-color: rgba(234, 142, 142, 0.181);
    border-color: rgba(9, 9, 9, 0.695);
    border-style: solid;
    border-radius: 15px;


}

::placeholder {
    color: rgb(112, 23, 23);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pass {
    padding-top: 0.9rem;
    padding-right: 5rem;
    padding-left: 5rem;
    text-align: center;
    padding-bottom: 0.9rem;
    background-color: rgba(234, 142, 142, 0.181);
    border-color: rgba(9, 9, 9, 0.695);
    border-style: solid;
    border-radius: 15px;


}

button {
    margin-top: 2rem;
    margin-left: 6rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: rgba(234, 142, 142, 0.181);
    border-color: rgba(9, 9, 9, 0.695);
    border-style: solid;
    border-radius: 30px;
    font-size: 0.9rem;
    color: rgb(112, 23, 23);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
button:hover
{
    background-color:  rgba(6, 191, 243, 0.468);
}